h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	color: black;

}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	text-align: center;
	color: black;
}

#hangmanpic{
	height: 200px;
	width: 400px;
	margin-left: 50px;
}

ul{list-style: none;

}

#mainsection{
	margin-top: 20px;
	column-width: 800px;
	/*padding-right: 300px;*/
	height: 450px;
	border-style: solid;
	border-color: black;
	color: black; 
	background: white;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}

#mainpage{
	padding-top: 155px;
	padding-bottom: 185px;
	width: 95%;
	position: absolute;
}

#CarsSelection1:hover{
		cursor: pointer;
}

#catpage{
	padding-top: 120px;
	padding-bottom: 160px;
	width: 95%;
	position: absolute;
}

#gamepage{
	padding-top: 40px;
	padding-bottom: 160px;
	width: 95%;
	position: absolute;
}

#overpage{
	padding-top: 40px;
	padding-bottom: 160px;
	width: 95%;
	position: absolute;
}

.overselection{
	padding: 50px;
	margin: 20px 0px 0px 20px;
}

#alphabetSoup li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;
}


body {
    background-image: url("../assets/road.jpg");
    background-repeat: no-repeat;
}